{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Account Activation Email Sent" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col-lg-5">
            <div class="card p-5">
                <h3>{% trans "Account Activation Email Sent" %}</h3>
                <p>{% trans "We have sent an account verification link to your email. You must verify your account before you can login." %}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}