<div class="col-lg-3 col-md-6 col-12">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title"><a href="{{ material.get_absolute_url }}">{{ material.name }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ material.course.code }}</h6>
            <p class="card-text">
                <ul class="list-unstyled">
                    <li>Lecturer: <strong>{{ material.lecturer }}</strong></li>
                    <li>Resource Type: <strong>{{ material.resource_type }}</strong></li>
                    <li>Level: <strong>{{ material.course.level }}</strong></li>
                    <li>Pages: <strong>{{ material.pages }}</strong></li>
                </ul>
            </p>
        </div>
    </div>
</div>