{% extends "base.html" %}

{% block title %}Search{% endblock %}

{% block content %}

<section class="py-3 bg-dark">
    <div class="container px-5 my-5">
        <div class="text-center text-white">
            <h1 class="fw-bolder">Search Results</h1>
        </div>
    </div>
</section>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row g-3">
            {% for material in materials %}
            {% include 'partials/_material_item.html' %}
            {% empty %}
            <p>Search not found.</p>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}